extends ../layout.pug

block content
  .jumbotron  
      if current
        h1 #{current}'s Comic Characters
      else
        h1 Comic Characters
      p This site shows comic characters information

      if !currentUser
        a(href="/superheroes/new" class="btn btn-primary") Create
      else if !(currentUser.username === 'admin')
        a(href="/superheroes/new" class="btn btn-primary") Create
  hr
  .row.text-center
    //- .card-deck
        //- .row.row-cols-4.text-center
    
    //- .card-deck
    each superhero in superheroes
      .col-lg-2.col-md-3.col-sm-4.single-card
        .card
          a(href="/superheroes/" + superhero.id)
            img(class="card-img-top" src='/img/superheroes/' + superhero.image alt="superheroe.image")
            div(class="card-body")
                h5(class="card-title")= superhero.name
                //- a.btn.btn-primary(href="/superheroes/" + superhero.id) More Info
          .card-footer.text-muted
            small <em> Submitted By 
              a.card-link(href='/superheroes?author='+ superhero.author.id) #{superhero.author.username} </em>