extends ../layout.pug

block content
  .create-container
    h1 Create a New Comic Character
    br
    div(style='width: 60%; margin: 25px auto;')
      form(action="/superheroes",  method="post", enctype="multipart/form-data")
        .form-group
          label(for='charaterName') Charater Name: 
          input#charaterName.from-control(type="text" placeholder="charater name" required="required" name="superhero")
        .form-grop
          label(for='characterPicture') Charater Picture: 
          input#exampleFormControlFile1.form-control-file(type="file" name="file" placeholder="charater picture" accept="image/*" required="required")
        .form-group
          label(for='charaterDecription') Charater Decription: 
          textarea#charaterDecription.form-control(rows='5' name="description")
        .form-group
            button.btn.btn-lg.btn-primary.btn-block(type='submit') Create
      a(href='javascript:history.back()') Go Back  
      